@import "/common/css/base";
body{
  font-size: 0;
}
.page-content{
  background: url("/images/beauty/bg.jpg") repeat;
  background-size: rem(375px);
}
.head-img{
  width:100%;
}
.head-button{
  font-size: 0;
  a{
    cursor: pointer;
    display: inline-block;
    width: rem(145px);
    height: rem(49.5px);
    margin:0 rem(37.5px) 0 rem(25px);
    background: url("/images/beauty/activity-join.png");
    background-size: rem(145px);
  }
  a:last-child{
    margin: 0;
    background: url("/images/beauty/activity-detail.png");
    background-size: rem(145px);
  }
}
.rank{
  margin-top: rem(32.5px);
  width: 100%;
}
.list {
  padding-bottom: rem(32px);
}
.list-item{
  position: relative;
  width: rem(330px);
  margin: rem(20px) auto;
  background-color: #fff;
  box-sizing: border-box;
  border: rem(2.5px) solid black;
  border-radius: rem(5px);
  padding: rem(8px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  .player-avatar {
    width: 100%;
    img {
      width: 100%;
    }
  }
  p {
    padding: rem(10px) 0;
    color: #000;
    font-size: rem(14px);
    border-bottom: 1px solid #bdbdbd;
    word-break: break-all;
    line-height: 1rem;
  }
  .star-count {
    margin-top: rem(10px);
    height: rem(30px);
    line-height: rem(30px);
    color: #000;
    font-size: rem(16px);
    .player-rank {
      float: right;
      color: #000;
      font-size: rem(16px);
      img {
        vertical-align: text-bottom;
        width: rem(23px);
        height: rem(23px);
      }
    }
  }
  .btn-group {
    height: rem(50px);
    button {
      text-decoration: dashed;
      margin: rem(14px);
      border: none;
      width: rem(120px);
      height: rem(32px);
      float: left;
      font-size: rem(18px);
      color: #000;
      background: url(/images/beauty/btn-bg.png) no-repeat center;
      background-size: contain;
      font-weight: 500;
    }
  }
  .border-bottom {
    position: absolute;
    left: rem(-2.5px);
    right: 0;
    bottom: rem(-10px);
    width: rem(330px);
    img {
      width: 100%;
    }
  }
}