@import "/common/css/base";
*{
  box-sizing: border-box;
  outline: none;
  word-wrap: break-word;
}
body{
  width: 100%;
  min-height: 100%;
  background-color: #91d2f9;
}
img{
  border: none;
  vertical-align: middle;
  display: block;
}
.top_images{
  width: 100%;
  position: relative;
  .top_bg{
    width: 100%;
    min-height: rem(195px);
  }
  .center_bg{
    width: 100%;
    padding: 0 rem(22px);
    position: absolute;
    left: 0;
    margin-top: rem(-29px);
  }
  .bottom_bg{
    width: 100%;
  }
}
